.date-holder
  background-color white
  width 8u
  height 10u
  padding 1u
  text-align center

.number
  font-size 3u
  color #cf2e22
  font-weight bold
  
.info
  margin-left 2u
  max-width 70%

.red
  color #cf2e22
  font-weight bold

.event
  margin-top 3u

.event-image
    width 8u
    height 8u
  