.dateHolder
  background-color white
  width 8u
  height 10u
  padding 1u
  text-align center

.number
  font-size 3u
  
.red
  color #cf2e22
  font-weight bold

.info
  margin-left 2u
  max-width 70%

.eventImage
  width 8u
  height 8u

.divider
  margin-top 4u
  width 100%
  