.root
  background-color #f7f7f7
  padding 2u
  +desktop()
    padding 4u
  +wide()
    padding 10u

.title
  font-size 20px
  line-height 3u
  letter-spacing 3px 
  text-align center
  &.red
    color #cf2e22
    font-weight bold

.title
  &.small
    display none
    +desktop()
      text-align left
      display block
      font-weight 400
      font-size 10px
    +wide()
      font-size 2u

.title
  &.big
    +desktop()
      font-size 3u
      text-align left
      font-weight 400
      line-height 4u
    +wide()
      font-size 4u
      line-height 6u

.holder
  margin-top 2u

.input
  margin-top 2u

.txt
  color #888888
  line-height 3u
  &.red
    color #cf2e22
    font-weight bold

.postBtn
  margin-top 2u
  border-color black
  border-radius 0
  +tablet()
    margin-top 0
    width 20u

.btnHolder
    margin-top 2u
    flex-direction column
    +tablet()
        flex-direction row
        justify-content space-between
        align-items center