$menuHeight = 6u

.sidebar
  background-color #cf2e22

.sidebarMenu
  padding-top 2u
  padding-left 2u

.menu
  background-color rgba(black, 0.02)
  height $menuHeight
  z-index 1
  align-items center
  padding 0 2u
  border-bottom-width 1px
  border-bottom-color rgba(black, 0.05)

.body
  flex 1

.btn 
  width 4u
  border none

.logoImg
  margin-left 2u
  width 25u
  height 12u

.item
  margin-top 3u

.itemText
  color white
  font-weight bold

.itemsHolder
  margin-top 5u

.social
  flex-direction row
  margin-top 5u

.socialButton
  margin-left 2u
  width 5u
  height 5u
  background-color white
  border none
  border-radius 5u
  &.first
    margin-left 0
    
.socialIcon
  color #cf2e22

.header
  padding 4u
  width 100%
  max-width 160u
  align-self center
  +wide()
    padding 4u 12u

.headerLogo
  width 17u
  height 8u
  +desktop()
    width 25u
    height 12u

.main
  background-color #e6e6e6

.headerItem
  display:none
  +desktop()
    display flex

.headerText
  font-size 1.5u
  color rgba(255,255,255,0.75)
  +wide()
    font-size 2u

.bigHeader
  display: none 
  +desktop()
    display flex
    color rgba(255,255,255,0.9)
    font-size 4u
    margin-top 10u
    letter-spacing 12px
    font-weight 100
    +wide()
      font-size 6u
    
.first
  margin-left 0


  
