.root
    +wide()
        padding-top 2u

.avaImage
    position relative
    width 5u
    height 5u
    background-color black
    border-radius 7u

.data
    margin-left 1u
    justify-content center
    flex 1
    +wide()
        margin-left 2u

.author
    color #cf2e22
    font-weight bold

.date
    font-size 1.5u
    color #888888

.commentText
    margin-top 1u
    +wide()
        margin-top 2u

.timesIcon
    color #cf2e22

.divider
    width 100%
    +wide()
        margin-top 2u

.circle
    border none

