
.root
    +wide()
        padding-top 2u

.ava-image
    position relative
    width 5u
    height 5u
    background-color black
    border-radius 7u
.data
    margin-left 1u
    display flex
    justify-content center
    flex 1
    +wide()
        margin-left 2u
    &-author
        color #cf2e22
        font-weight bold
    &-date
        font-size 12px
        color #888888

.comment-text
    margin-top 1u
    +wide()
        margin-top 2u

.times-icon
    color #cf2e22

.divider
    width 100%
    +wide()
        margin-top 2u

