_darkRed = #cf2e22
_lightGrey = #888888

.note
  margin-top 4u

.noteNumber
  width 7u
  height 7u
  background-color white
  border 1px solid black
  border-radius 5u
  text-align center
  align-self center
  +wide()
      width 10u
      height 10u

.noteNumberTxt
  line-height 7u
  font-size 20px
  +wide()
    line-height 10u
    font-size 4u

.noteData
  margin-left 2u
  flex 1
  justify-content center

.noteTitle
  font-weight bold
  letter-spacing 1px
  font-size 18px
  color #333333
  +wide()
      font-weight 400
      font-size 3u

.noteAuthor
  color _darkRed
  font-weight bold
  font-size 12px
  +wide()
    line-height 4u

.noteDate
  line-height 12px
  font-size 12px
  color _lightGrey


.textHolder
  margin-top 2u
  max-width 100%
  +wide()
    margin-top 5u

.textHolderText
  +wide()
    font-size 2.5u
    line-height 3u

.actions
  margin-top 2u

.actionText
  line-height 4u
  font-weight bold
  color _darkRed

.actionCount
  color _lightGrey

.actionBtn
  border none
  height 4u

.actionIcon
  color _darkRed
  
.comments
  margin-top 2u
  background-color #efefef
  padding 1u
  border-bottom 1px solid #cccccc
  +wide()
    padding 0 3u 2u 3u

.avaImage
  width 5u
  height 5u
  background-color black
  border-radius 7u

.data
  margin-left 1u
  justify-content center
  flex 1

.comment
  +wide()
    margin-top 2u

.input
  height 3u
