.navbar
  display flex
  background-color #dddddd

.white
  background-color white

.grey
  background-color #efefef
  
.section
  align-items center
  padding 3u 2u

.makelove
  width 28u
  height 6u

.red
  color #cf2e22
  font-weight bold

.icons
  width 100%

.icon-wrapper
  display flex
  align-items center

.icon-text
  margin-top 1u
  text-align center
  color #cf2e22

.icon
  color #cf2e22

.title
  font-weight 400
  letter-spacing 3px

.big-text
  line-height 4u
  font-size 3u

.events-holder
  width 90%
  +tablet()
    width 60%
  +desktop()
    width 90%

.second
  margin-top -3u
