_darkRed = #cf2e22

.section
  align-items center
  padding 3u 2u
  background-color #dddddd
  &.white
    background-color white
  &.grey
    background-color #efefef

.makelove
  width 28u
  height 6u

.red
  color _darkRed
  font-weight bold

.icons
  width 100%

.iconWrapper
  align-items center

.iconText
  margin-top 1u
  text-align center
  color _darkRed

.icon
  color _darkRed

.title
  font-weight 400
  letter-spacing 3px

.big
  line-height 4u
  font-size 3u

.eventsHolder
  width 90%
  +tablet()
    width 60%
  +desktop()
    width 90%

.second
  margin-top -3u

.divider
  width 7u
